* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    height: 10vh;
}

.logo {
    flex: 1;
    font-size: 2em;
}

nav {
    flex: 1;
    /* background: red; */
}

.nav-link {
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px;
    display: inline-block;
    color: whitesmoke;
    background: black;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 4px;
    background: whitesmoke;
    color: whitesmoke;
    transition: width .2s;
}

.nav-links {
    display: flex;
    justify-content:space-around;
    list-style: none;
}

/* hr {
    border-color: rgb(41, 41, 41);
} */

body {
    background: black;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

#hellow {
    font-size: 3em;
    font-weight: 800;
    margin: 0 10px;
    position: absolute;
    top: 30vh;
    font-family: 'SF Mono', monospace;
}
