@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: gray; */
    height: 10vh;
    margin: 0 5vw;
}

nav {
    flex: 1;
    /* background: red; */
    height: inherit;
}

.logo {
    flex: 1;
    font-size: 2em;
}

.nav-links {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: inherit;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.4em;
    display: block;
    position: fixed;
    color: whitesmoke;
    /* background: black; */
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 4px;
    background: whitesmoke;
    color: whitesmoke;
    transition: width .2s;
}


/* hr {
    border-color: rgb(41, 41, 41);
} */

body {
    background: black;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.sec1 {
    min-height: 90vh;
}

#terminal {
    font-size: 3em;
    font-weight: 800;
    margin: 0 10px;
    position: fixed;
    transform-origin: left top;
    top: 30vh;
    font-family: 'Source Code Pro', monospace;
}

.sec2 {
    min-height: 100vh;
}
.sec3 {
    min-height: 100vh;
}