@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Rubik';
        src: local('Rubik'), local('rubik'),
            url('/font/Rubik-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rubik';
        src: local('Rubik-Medium'), local('rubik-medium'),
            url('/font/Rubik-Medium.ttf');
        font-weight: 500;
        font-display: swap;
    }
}