@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Rubik';
        src: local('Rubik'), local('rubik'),
            url('/font/Rubik-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rubik';
        src: local('Rubik-Medium'), local('rubik-medium'),
            url('/font/Rubik-Medium.ttf');
        font-weight: 500;
        font-display: swap;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .fade-mask-y {
        mask-image: linear-gradient(0.5turn, transparent, black 10%, black 90%, transparent);
    }

    .fade-mask-x {
        mask-image: linear-gradient(0.25turn, transparent, black 5%, black 95%, transparent);
    }

}